<div class="navbar navbar-fixed" role="navigation">
    <div class="container">
        <div class="inner">
            <a href="/" title="hire.me" class="logo-link">
                <img src="/assets/images/logo@2x.png" alt="hire me!" width="75" height="75" />
            </a>
        </div>
    </div>
</div>