{{> header }}

<div class="home">

    <div class="feed-wrapper">
        <div class="feed">
            <div class="feed-preview"></div>
        </div>
        <div class="feed-controls">
            <button class="preview" title="Preview Video"></button>
            <button class="end" title="End Chat"></button>

            <button class="start" href="#inviteModal" title="Start Chat"></button>
            <button class="invite" href="#inviteModal" title="Invite Contact"></button>
        </div>
    </div>

    <div id="connectionErrorModal" class="modal">
        <a class="modal-close" href="#"></a>
        <p class="modal-body"></p>
    </div>

    <div id="inviteModal" class="modal">
        <a class="modal-close" href="#"></a>
        <div class="modal-body">
            <h4>Invite another Client</h4>
            <div class="field-group">
                <label for="inviteTo">Client Identity</label>
                <input id="inviteTo" name="inviteTo" type="text" required />
            </div>
        </div>
        <div class="modal-footer">
            <div class="field-group">
                <button class="sendInviteBtn">Send Invite</button>
            </div>
        </div>
    </div>

    <div class="log">
        $ <span class="log-content">Preparing to listen...</span>
    </div>
</div>

{{> footer }}